<!DOCTYPE html>
<html>
	<head>
		<html lang="eng">
		<title>Immobiler.com</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<meta name="description" content="">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div id="racine">
			<div class="header">
				<div class="header_content">
					<div class="titre">
						<h1>Immobilier.com</h1>
					</div>
					<div class="navigation">
						<ul>
							<router-link to='/'>
								<li>Home</li>
							</router-link>
							<router-link to='/rent'>
								<li>Rent</li>
							</router-link>	
							<router-link to='/sale'>
								<li>Sale</li>
							</router-link>
							<router-link to='/buy'>
								<li>Buy</li>
							</router-link>
							<router-link to='/contact'>
								<li>Contact Us</li>
							</router-link>
						</ul>	
					</div>
				</div>
			</div>
			<router-view></router-view>
		</div>
		<script type="text/x-template" id="home">
			<section>
				<div class="banniere">
					<div class="banniere_content">
						<transition name="test">
							<span v-for="photo in banniere" v-if="suivant">
								<img v-bind:src="photo.img[numero]"  alt="" width=1380 height=250 id="test"/>
							</span>	
						</transition>
					</div>
				</div>
				<div class="entete">
					<div v-for="doss in tab_rent" class="entete_content">
						<div class="image_container">
							<img v-bind:src="doss.images_pres" alt="Image Presentation" />
						</div>
						<div class="text_desc">
							<h3>{{doss.titre1}}</h3>
							<h1>{{doss.titre2}}</h1>
							<h4>{{doss.titre3}}</h4>
							<button id="explore_rent">{{doss.button_logo}}</button>
						</div>
					</div>
				</div>
				<div class="products">
					<div class="home_products">
						<div v-for="thumbs in tab_next" id="contenu_produits">
							<router-link to='/description'>
								<img v-on:click="describe(thumbs)" v-bind:src="thumbs.img1" alt="Products" width=270 height=180/>
							</router-link>	
							<h4><span>{{thumbs.description.titre}}</span> </br>{{thumbs.description.chambre}} Chambers | {{thumbs.description.douche}} Bathrooms | {{thumbs.description.surface}} Squarefeet</h4>
						</div>
							
					</div>
				</div>
				<div class="entete2">
					<div v-for="dossier in tab_sale" class="entete2_content">
						<div class="image_container2">
							<img v-bind:src="dossier.images_pres" alt="Images presentation"/>
						</div>
						<div class="text2">
							<h3>{{dossier.titre1}}</h3>
							<h1>{{dossier.titre2}}</h1>
							<h4>{{dossier.titre3}}</h4>
							<button id="explore_rent">{{dossier.button_logo}}</button>
						</div>
					</div>
				</div>
				<div class="products2">
					<div class="home_products2">
						<div v-for="thumbs2 in tab_sale_descript" id="contenu_produits2">
							<router-link to='/description'>
								<img v-on:click="describe(thumbs2)" v-bind:src="thumbs2.img1" alt="Products" width=270 height=180/>
							</router-link>	
							<h4><span>{{thumbs2.description.titre}}</span> </br>{{thumbs2.description.chambre}} Chambers | {{thumbs2.description.douche}} Bathrooms | {{thumbs2.description.surface}} Squarefeet</h4>
						</div>
					</div>
				</div>
			</section>
		</script>
		<script type="text/x=template" id="description">
		<section>
			<div class="description_content">
				<div class="slider">
						<div v-for="slides in default_descript"  class="slider_content" >
							<img v-bind:src="slides.img2[rang]" v-on:mouseover="pause" v-on:mouseout="continuer" v-if="slideok" alt="Slides" width=950 height=450/>			
						</div>
					<div class="bouton_container">
						<button @click="preced" v-if="rang>0" id="bouton_prev"><</button>
						<button @click="nxt" v-if="rang<=7" id="bouton_next">></button>
					</div>
				</div>
				<div class="full_description">
					<div v-for="textes in default_descript" class="full_description_content">
						<h3>{{textes.description.titre}}</h3>
						<h4>{{textes.description.chambre}} Chambers | {{textes.description.douche}} Bathrooms | {{textes.description.surface}} Squarefeet</h4>
						<p id="full_text">
							{{textes.description.tout}}
						</p>
						<router-link to='/'>
							<button id="back">Back to Homepage</button>
						</router-link>	
					</div>
					<div class="other_link">
						<div class="other_link_content">
							<ul>
								<router-link to='/type'>
									<li>TYPE</li>
								</router-link>	
								<router-link to='/property'>
									<li>PROPERTY</li>
								</router-link>
								<router-link to='/purpose'>
									<li>PURPOSE</li>
								</router-link>
								<router-link to='/forsale'>
									<li>FOR-SALE</li>
								</router-link>
							</ul>
							<h3>Facilities:</h3>
							<div class="facilities">
								
								<router-link to='/parking'>
									<button id="parking">Parking</button>
								</router-link>
								<router-link to='/air'>
									<button id="air">Centrally Air-Conditioned</button>
								</router-link>
								<router-link to='/balcony'>
									<button id="balcony">Balcony or Terrace</button>
								</router-link>
								<router-link to='/gym'>
									<button id="gym">Gym or Health Club</button>
								</router-link>		
								<router-link to='/lawn'>
									<button id="lawn">Lawn or Garden</button>
								</router-link>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</section>
		</script>



		<script type="text/javascript" src="scripts/vue.js"></script>
		<script type="text/javascript" src="scripts/vue-router.js"></script>
		<script type="text/javascript" src="scripts/vue-cookies.js"></script>
		<script type="text/javascript" src="scripts/vueSC.js"></script>
			
	</body>
</html>	
